

h1{
    font-size: 40;
    font-style: oblique;
    font-variant:small-caps;
    
}

header {
    background-color: rgb(7, 17, 75);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

footer {
      background-color: rgb(50, 17, 75);
      padding: 15px;
      text-align: center;
      color: white;
}

.sss{
    border-color: rgb(75, 4, 4);
    border-style:dotted;
    text-decoration-style:dotted;
    background: rgb(100, 93, 93);
    margin-left: auto;
    color: rgb(255, 255, 255);
    margin-right: 88%;    
}

